.container {
    width: 100%;
    height: 720px;
    text-align: center;
    background-color: black;
    color: blanchedalmond;
}

.navGauche {
    width: 10%;
    height: 650px;
    background-color: purple;
    float: left;

}

.navGaucheH {
    width: 90%;
    height: 60px;
    background-color: rgba(209, 204, 209, 0.747);
    margin: 6px;
}

.navGaucheB {
    width: 90%;
    height: 530px;
    background-color: rgba(209, 204, 209, 0.747);
    margin: 6px;
}

.blocDroit {
    width: 90%;
    height: 650px;
    background-color: rgba(199, 71, 71, 0.829);
    float: right;
}

.blocDroitLeft {
    float: left;
    width: 85%;
    height: 650px;



}

.blocSearch {
    width: 95%;
    background-color: rgba(209, 204, 209, 0.747);
    height: 30px;
    margin: 10px 30px;

}
input {
    border-radius: 5px;
    height: 20px;
    float: left;
    margin-top: 2px;
    margin-left: 30px;

}
.menu {
    width: 95%;
    background-color: rgba(140, 210, 243, 0.747);
    height: 25px;
    margin: 5px 30px;
}
ul {
    padding-top: 5px;
}
li {
    display: inline;  
 

}
a {
    color: black;
    margin-right: 20px;
    text-decoration: none;

}
.browser {
    width: 95%;
    background-color: rgba(67, 245, 156, 0.747);
    height: 20px;
    margin: 0px 30px;
}

h3 {
    float: left;
    margin-top: -3px;
    margin-left: 30px;
}
.blocArticle {
    display: flex;
    width: 100%;
    margin: 5px 25px;
}
article {
    width: 23%;
    margin-left: 5px;
}
.imgL {
    width: 230px;
    height: 230px;
}

.imgS {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.blocDroitRight {
    float: right;
    width: 15%;
    height: 650px;
    background-color: black;
}
.navDroitB {
    width: 90%;
    height: 600px;
    background-color: rgba(209, 204, 209, 0.747);
    margin: 6px;
}

.blocB {
    clear: both;
 
    width: 100%;
    height: 70px;
    background-color: rgba(57, 4, 155, 0.747);

}
.blocB p {
    padding-top: 20px;
    font-weight: bolder;
}
/*
.navDroit {
    width: 10%;
    height: 650px;
    background-color: red;
    float: right;
}

*/
